.sentence-preview {
  display: flex;
  margin-top: 16px;
  padding: 0 12px;

  &__icon-container {
    width: 40%;

    img {
      padding-top: 12px;
      width: 90%;
    }
  }

  &__text-bubble-container {
    margin: 0 0 12px 12px;
    width: 60%;
  }
}
